%table.topics.table.table-hover
  %thead
    %tr
      %th Title
      %th Owner
      %th Last updated at
  %tbody
    - topics.each do |topic|
      %tr
        %td= link_to topic.title, topic
        %td= topic.user.name
        %td= topic.updated_at
